<div class="opzioni" *ngIf="!loading_page">

    <form-scheda [combo]="comboScheda" [scheda_master]="scheda_master" [scheda_selezionata]="scheda_selezionata"
        (submit)="getSchedeUtenteReload($event)"></form-scheda>

    <view-scheda [record]="record"></view-scheda>
</div>

<div class="pt-32 pb-64">
    <div class="card-trasparent">

        <div *ngIf="schede&&schede.mancanti.elements.length>0">
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>ATTENZIONE! </strong>Ci sono ancora schede da compilare.
            </div>
        </div>

        <div class="table-responsive" *ngIf="!loading_table">
            <table class="table table-striped testo-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">GIO</th>
                        <th scope="col">DATA INSERIMENTO</th>
                        <th scope="col">MD</th>
                    </tr>
                </thead>
                <tbody *ngIf="!loading_table">
                    <tr *ngFor="let item of schede.giocate.table[idxTable]">
                        <td class="testo-light">{{item.id}}</td>
                        <td class="testo-light">{{item.giornata}}</td>
                        <td class="testo-light">{{item.data_modifica}}</td>

                        <td *ngIf="item.modificabile=='SI'" class="testo-light"><i class="bi bi-pencil cursore"
                                (click)="onUpdate(item)" data-bs-toggle="modal" data-bs-target="#formScheda"></i></td>
                        <td *ngIf="item.modificabile=='NO'" class="testo-light"><i class="bi bi-eye-fill cursore"
                                (click)="onViewItem(item)" data-bs-toggle="modal" data-bs-target="#viewScheda"></i></td>
                    </tr>
                </tbody>
                <tbody *ngIf="loading_table">
                    <div class="pt-32 pl-16">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        <div *ngIf="!loading_table">
            <nav *ngIf="schede.giocate.table.length<6&&schede.giocate.table.length>0"
                aria-label="Page navigation example" class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li *ngFor="let item of schede.giocate.table; let i = index" (click)="idxTable=i"
                        class="page-item cursore" [ngClass]="{'active': i == idxTable}"><a class="page-link">{{i+1}}</a>
                    </li>
                    <li class="page-item"
                        (click)="idxTable=idxTable!=schede.giocate.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
            <nav *ngIf="schede.giocate.table.length>5" aria-label="Page navigation example" class="display-center pt-8">
                <ul class="pagination">
                    <li class="page-item" (click)="idxTable=idxTable!=0?idxTable-1:idxTable">
                        <span class="page-link cursore" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li (click)="idxTable=0" class="page-item cursore" [ngClass]="{'active': 0 == idxTable}"><a
                            class="page-link">1</a></li>
                    <li (click)="idxTable=1" class="page-item cursore" [ngClass]="{'active': 1 == idxTable}"><a
                            class="page-link">2</a></li>
                    <li *ngIf="idxTable>1&&idxTable<schede.giocate.table.length-2" class="page-item active"><a
                            class="page-link">{{idxTable+1}}</a></li>
                    <li *ngIf="idxTable<2||idxTable>schede.giocate.table.length-3" class="page-item"><a
                            class="page-link">..</a>
                    </li>
                    <li (click)="idxTable=schede.giocate.table.length-2" class="page-item cursore"
                        [ngClass]="{'active': schede.giocate.table.length-2 == idxTable}"><a
                            class="page-link">{{schede.giocate.table.length-1}}</a></li>
                    <li (click)="idxTable=schede.giocate.table.length-1" class="page-item cursore"
                        [ngClass]="{'active': schede.giocate.table.length-1 == idxTable}"><a
                            class="page-link">{{schede.giocate.table.length}}</a></li>

                    <li class="page-item"
                        (click)="idxTable=idxTable!=schede.giocate.table.length-1?idxTable+1:idxTable">
                        <span class="page-link cursore" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>

            <!-- fine pagination -->
            <div class="pr-16 pb-16 pt-8" style="text-align:right;">

                <div *ngIf="schede&&schede.mancanti.elements.length>0" class="btn-group dropstart">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        NUOVA SCHEDA
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li *ngFor="let item of schede.mancanti.elements"><a class="dropdown-item cursore"
                                (click)="onInsert(item.id)" data-bs-toggle="modal" data-bs-target="#formScheda">GIORNATA
                                {{item.giornata}}</a></li>


                    </ul>
                </div>


            </div>
        </div>
    </div>

</div>